<h2 mat-dialog-title class="text-xl font-bold text-gray-900 dark:text-white mb-4 border-b pb-3">
  Utwórz Nowy Projekt
</h2>

<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="space-y-4 py-4">

    <mat-form-field class="w-full">
      <mat-label>Tytuł projektu</mat-label>
      <input matInput placeholder="np. Analiza obliczeniowa czegoś" formControlName="title">
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Opis projektu</mat-label>
      <textarea matInput formControlName="description" rows="4" placeholder="Dodatkowe informacje o projekcie...">
      </textarea>
    </mat-form-field>


    @if (user()?.role === UserRole.STUDENT) {
      <mat-form-field class="w-full">
        <mat-label>Wybierz promotora</mat-label>
        <mat-select formControlName="supervisorId" id="supervisor">

          @for (supervisor of supervisors(); track supervisor.id) {
            <mat-option [value]="supervisor.id">
              {{ supervisor.firstName }} {{ supervisor.lastName }} ({{ supervisor.email }})
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </mat-dialog-content>

  <div mat-dialog-actions align="end" class="border-t pt-3 gap-3">
    <button appButton variant="outline" mat-dialog-close type="button">
      Anuluj
    </button>
    <button appButton type="submit" [disabled]="!projectForm.valid">
      Utwórz Projekt
    </button>
  </div>
</form>
