<h2 mat-dialog-title class="text-xl font-bold text-gray-900 dark:text-white mb-4 border-b pb-3">
  Dodaj notatke do spotkania
</h2>
<form (ngSubmit)="onSubmit()">
  <mat-dialog-content class="py-4">
    <mat-form-field class="w-full">
      <mat-label>Notatka</mat-label>
      <textarea matInput [formControl]="noteFormControl"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="pt-3 gap-3">
    <button appButton variant="outline" (click)="onCancelClick()" type="button">
      Zamknij
    </button>

    @if(user()?.role === UserRole.SUPERVISOR){
      <button appButton type="submit">
        Dodaj notatke
      </button>
    }

  </mat-dialog-actions>
</form>
