<div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
  <div class="bg-card border border-border rounded-lg p-5 shadow-sm space-y-4">
    <h2 class="text-xl font-bold mb-3"><i class="ri-calendar-line"></i> Najbliższe spotkania</h2>
    @for (meeting of nextMeetings(); track meeting) {
      <div>
        <app-activity-card [node]="meeting"></app-activity-card>
      </div>
    }
  </div>
  <div class="bg-card border border-border rounded-lg p-5 shadow-sm space-y-4">
    <h2 class="text-xl font-bold mb-3"><i class="ri-file-text-line"></i> Pliki do sprawdzenia</h2>
    @for (file of pendingFiles(); track file) {
      <div>
        <app-activity-card [node]="file"></app-activity-card>
      </div>
    }
  </div>
</div>
