@if (commentsTree().length === 0) {
  <div class="items-center justify-center mt-4">
    <div class="flex flex-col items-center text-center p-10 border border-dashed border-gray-300 rounded-lg bg-gray-50">
      <i class="text-3xl text-gray-400"><i class="ri-emotion-sad-line"></i></i>
      <p class="text-lg font-medium text-gray-600 mt-2">Brak wpisów.</p>
      <p class="text-sm text-gray-500">Bądź pierwszy i dodaj nową pozycję.</p>
    </div>
  </div>
} @else {
  <section class="mt-4">
    <app-activity-tree
      [list]="commentsTree()"
      [projectId]="projectId">
    </app-activity-tree>
  </section>
}

<section class="mt-4 p-4 bg-card border border-border rounded-xl shadow-md flex flex-col gap-3">

  <div class="flex-1">
    <textarea
      [(ngModel)]="rootCommentContent"
      rows="3"
      class="text-foreground w-full bg-card border border-border rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-primary"
      placeholder="Napisz nowy komentarz...">
    </textarea>
  </div>

  <div class="flex justify-between items-end">

    <div class="flex gap-2">
      <button
        appButton
        variant="outline"
        (click)="openFileUploadDialog()">
        <i class="ri-file-add-line mr-2"></i> Dodaj Plik
      </button>

      <button
        appButton
        variant="outline"
        (click)="openMeetingDialog()">
        <i class="ri-calendar-event-line mr-2"></i> Dodaj Spotkanie
      </button>
    </div>

    <button
      appButton
      size="sm"
      variant="default"
      (click)="sendRootComment()">
      Wyślij Komentarz
    </button>
  </div>
</section>
