@if (commentsTree().length === 0) {
  <p class="text-muted-foreground">Brak komentarzy.</p>
} @else {
  <section class="my-4">
    <ng-container
      *ngTemplateOutlet="tree; context: { $implicit: commentsTree() }">
    </ng-container>
  </section>
}

<ng-template #tree let-list>
  <ul class="space-y-6">
    @for (node of list; track trackById($index, node)) {

      <li>

        <div class="bg-card border border-border rounded-lg p-4 shadow-sm">
          <div class="flex items-start gap-3">

            <div class="w-10 h-10 rounded-full bg-muted"></div>

            <div class="flex-1">
              <div class="text-sm mb-1">
                <strong class="text-foreground">
                  {{ node.author.firstName }} {{ node.author.lastName }}
                </strong>

                <span class="text-muted-foreground">
                  • {{ node.createdAt | date:'short' }}
                </span>
              </div>

              <div class="text-foreground/90 leading-relaxed">
                {{ node.content }}
              </div>
            </div>

          </div>

          <button appButton variant="default"
            (click)="openReplyDialog(node)">
            Odpowiedz
          </button>
        </div>

        @if (node.children.length > 0) {
          <div class="border-l border-border ml-6 pl-6 mt-4">
            <ng-container
              *ngTemplateOutlet="tree; context:{ $implicit: node.children }">
            </ng-container>
          </div>
        }

      </li>

    }
  </ul>
</ng-template>
