<div class="flex items-start gap-3">

  <div class="flex-1">
    <div class="text-sm mb-1">
      <strong class="text-foreground">
        {{ node.author.firstName }} {{ node.author.lastName }}
      </strong>

      <span class="text-muted-foreground">
          • {{ node.createdAt | date:'short' }}
        </span>
    </div>


    <div class="text-foreground/90 leading-relaxed whitespace-pre-line">
      {{ node.content }}
    </div>


    @if (node.type === ActivityType.FILE && node.file !== null) {
      <div class="flex items-center gap-3 p-3 border border-border rounded-lg bg-muted/30 mt-2">

        <div class="w-10 h-10 rounded-md bg-muted flex items-center justify-center text-xl">
          <i class="ri-file-pdf-2-line"></i>
        </div>

        <div class="flex-1">
          <div class="text-foreground font-medium">
            {{ node.file?.originalName }}
          </div>
        </div>

        <span class="text-sm font-medium px-3 py-1 rounded-full whitespace-nowrap"
              [ngClass]="FileStatusStyling[node.file!.status]">
        {{ FileStatusLabel[node.file!.status] }}
        </span>

        @if (user()?.role === UserRole.SUPERVISOR) {
          <button appButton size="icon"
                  (click)="toggleEditDialog()"><i class="ri-edit-line"></i></button>
        }

        <button appButton size="icon" [disabled]="!node.file?.url"
                (click)="onViewClick(node.file!.url)"><i class="ri-file-download-line"></i></button>

        @if (user()?.id === node.author.id) {
          <button appButton size="icon" variant="destructive"
                  (click)="toggleDelete()"><i class="ri-chat-delete-line"></i></button>
        }

      </div>
    }

    @if (node.type === ActivityType.MEETING && node.meeting !== null) {
      <div class="flex items-center gap-3 p-3 border border-border rounded-lg bg-muted/30 mt-2">

        <div
          class="w-10 h-10 rounded-md bg-muted flex items-center justify-center text-xl">
          <i class="ri-calendar-event-line"></i>
        </div>

        <div class="flex-1 space-y-1">
          <div class="text-primary font-bold">
            {{ node.meeting?.title }}
          </div>
          <div class="text-sm text-foreground/80">
            <i class="ri-time-line mr-1"></i>
            {{ node.meeting?.date | date:'medium' }}
          </div>
        </div>
        <button appButton size="icon" (click)="toggleMeetingNoteDialog()">
          <i class="ri-sticky-note-line"></i>
        </button>

        <a [href]="node.meeting?.url"
           target="_blank"
        >
          <button appButton size="icon">
            <i class="ri-external-link-line"></i>
          </button>
        </a>

        @if (user()?.id === node.author.id) {
          <button appButton size="icon" variant="destructive"
                  (click)="toggleDelete()"><i class="ri-chat-delete-line"></i></button>
        }

      </div>
    }
  </div>
</div>
