<h2 mat-dialog-title class="text-xl font-bold border-b pb-2">Utwórz Nowe Spotkanie</h2>

<form [formGroup]="meetingForm" (ngSubmit)="onCreateMeeting()">
  <div mat-dialog-content class="space-y-4 py-4">

    <mat-form-field class="w-full">
      <mat-label>Tytuł spotkania</mat-label>
      <input matInput formControlName="title" placeholder="Np. Omówienie Raportu Q3" required>
    </mat-form-field>

    <div class="flex gap-4">
      <mat-form-field>
        <mat-label>Meeting date</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="meetingDate">
        <mat-datepicker #datepicker/>
        <mat-datepicker-toggle [for]="datepicker" matSuffix/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Meeting time</mat-label>
        <input matInput
               formControlName="meetingDate"
               [matTimepicker]="timepicker">
        <mat-timepicker #timepicker/>
        <mat-timepicker-toggle [for]="timepicker" matSuffix/>
      </mat-form-field>
    </div>

    <mat-form-field class="w-full">
      <mat-label>Link do Spotkania (URL)</mat-label>
      <input matInput type="url" formControlName="url" placeholder="Np. https://zoom.us/j/123456">
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Opis</mat-label>
      <textarea matInput formControlName="content" rows="3" placeholder="Dodatkowe informacje o agendzie..."></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end" class="border-t pt-3">
    <button appButton variant="destructive" (click)="onCancel()" type="button">Anuluj</button>
    <button
      appButton
      variant="default"
      type="submit"
      [disabled]="!meetingForm.valid">
        Utwórz Spotkanie
    </button>
  </div>
</form>
